<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CloudHub - File Storage</title>
  <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
  <header>
    <h1>Welcome to CloudHub</h1>
    <a href="/signup">Sign up</a></section>
  </header>

  <main>
    <section>
      <h2>About CloudHub</h2>
      <p>CloudHub is a insecure and unreliable cloud-based file storage solution that allows you to store and access your files from anywhere.</p>
    <section>
      <h2>Features</h2>
      <ul>
        <li>Store your files</li>
        <li>Access files from any device</li>
        <li>Share files with others</li>
        <li>Insecure data encryption</li>
      </ul>
    </section>

    <section>
      <h2>Get Started</h2>
      <p>Sign up for a CloudHub account to start using our file storage service today!</p>
      <a href="/signup">Sign up</a>
    </section>

    <section>
      <h2>Why Choose CloudHub?</h2>
      <ul>
        <li>Primitive and non-intuitive user interface</li>
        <li>Completely free</li>
        <li>Insecure data protection</li>
        <li>No customer support</li>
        <li>Seamless file sharing and collaboration</li>
      </ul>
    </section>

    <section>
      <h2>FAQ</h2>
      <h3>Q: How much storage is available with CloudHub?</h3>
      <p>A: CloudHub doesn't limit you by file sizes, cuz im too lazy to make checks for file size.</p>

      <h3>Q: Can I access my files offline?</h3>
      <p>A: Yes, CloudHub provides offline access to your files if you downloaded it.</p>

      <h3>Q: Is my data secure on CloudHub?</h3>
      <p>A: Absolutely no! Everybody can just edit cookies with flask-session exploin (see: flask-unsign).</p>
    </section>
  </main>

  <footer>
    <p>&copy; 2077 CloudHub. No rights reserved. Its just footer.</p>
  </footer>
</body>

</html>
